body{
    overflow-x: hidden;
}
/* background */
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: .5;
    background-color: #ffffff;
    background-size: 18px 18px;
    background-image:  repeating-linear-gradient(0deg, #ff5d8f, #ff5d8f 0.9px, #ffffff 0.9px, #ffffff);
    z-index: -1;
}
.backgroundDos{
    position: absolute;
    top: 265vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: .5;
    background-color: #ffffff;
    background-size: 18px 18px;
    background-image:  repeating-linear-gradient(0deg, #ff5d8f, #ff5d8f 0.9px, #ffffff 0.9px, #ffffff);
    z-index: -1;
}
/* header */
.header{
    padding-inline: 10vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    gap: 4vw;
    z-index: 2;
    background-color: var(--colorBlanco);
}
/* header__right */
.header__containerRight{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}
.header .header__logo{
    width: 10rem;
}
/* header__left */
.header__containerLeft{
    display: flex;
    gap: 4vw;
}
.header .header__navbar{
    display: flex;
    align-items: center;
    gap:4vw;
}
.navbar__label--burger,
#navbar__label--cart,
#navbar__burger--input{
    display: none;
}
/* :checked */

#navbar__label--cart:checked +.navbar__cart{
    transform: translate(0);
    transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#navbar__burger--input:checked~.overlay,
#navbar__label--cart:checked ~.overlay{
    display: block;
}

#navbar__burger--input:checked ~.navbar__burger{
    transform: translate(0);
    transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
/* burger */
.navbar__burger{
    padding: 2vh 2vw;
    background-color: var(--colorBlanco);
    max-width: 290px;
    width: 100%;
    height: 89vh;
    position: absolute;
    top: 10vh;
    left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: .5px solid var(--colorNegro);
    border-radius: 6px;
    transform: translate(-200%);
    transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.header__navbarBurger{
    display: flex;
    flex-direction: column;
    gap: 4vh;
}
.logoContainerBurger{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.header__logoBurger{
    width: 10rem;
}

/* cart */
.navbar__cart{
    max-width: 290px;
    width: 100%;
    height: 89vh;
    position: absolute;
    top: 10vh;
    right:10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:var(--colorBlanco);
    text-align: center;
    border-radius: 6px;
    border: .5px solid var(--colorNegro);
    transform: translate(200%);
    transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.navbar__cart::-webkit-scrollbar{
    display: none;
}
.navbar__cart .cart__resumen{
    width: 100%;
    padding: 20px;
    border-bottom: .5px solid var(--colorNegro);
}
.navbar__cart .cart__contenido{
    padding: 5px;
}
.navbar__cart .cart__contenido p{
    font-size: .9rem;
    opacity: .5;
}
.navbar__cart a{
    width: 100%;
    padding: 20px;
}
/* main */
.main{
    padding-inline: 10vw;
}
/* hero */
.main .hero{
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .5 solid var(--colorNegro);
}
.main .hero .hero__container{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.main .hero .hero__container .hero__container--text{
    display: flex;
    flex-direction: column;
}
.hero .hero__container--text h1{
    -webkit-text-stroke: .9px var(--colorRosa);
    color: var(--colorBlanco);
  }
.main .hero .hero__container--botones{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.main .hero .hero__container--botones .heroBoton{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    padding-block: 2vh;
    border: .9px solid var(--colorRosa);
    border-radius: 6px;
}
.main .hero .hero__img--div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    overflow: hidden;
    background-color:var(--colorBlanco);
    border: .9px solid var(--colorRosa);
}
.main .hero .hero__img--div .img{
    width: 350px;
    height: 350px;
}
/* beneficios*/
.beneficios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    gap: 10vh;
}
.beneficiosContainer{
    display: flex;
    gap: 5vw;
}
.beneficiosContainer__card{
    width:35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5vh;
    text-align: center;
}
.beneficiosContainer__card i{
    font-size: 3rem;
    color: var(--colorRosa);
}
/* shop */
.shop{
    height: 100vh;
    margin-top: 10vh;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    gap: 5vh;
}
.shop__cardContainer{
    display: flex;
    justify-content: space-evenly;
    gap: 5vw;
}
.shop__card{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}
.shop .shop__card--img{
    display: flex;
    justify-content: center;
    width: 8rem;
    border-radius: 4px;
}
.shop .shop__card--img img{
    width: 10rem;
}
.shop__card button{
    cursor: pointer;
    width: 100%;
    padding: 2vh 5vw;
    border-radius: 6px;
    border: 1px solid var(--colorRosa);
}
.shop__card h3{
    color: var(--colorDinero);
}
.shop__card h4{
    font-size:.9rem;
}
.shop__card h5{
    font-size: .9rem;
    color: var(--colorDinero);
}
/* encargo */
.encargo{
    height: 100vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.encargo h1{
    -webkit-text-stroke: .9px var(--colorRosa);
    color: var(--colorBlanco);
}
.encargo .encargoContainer{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2vh;

}
.encargo .encargoContainer__top{
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}
.encargo .encargoContainer__top--right,
.encargo .encargoContainer__top--left{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 50%;
}
.encargo .encargoContainer__bottom{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.encargo .form__imput{
    width: 100%;
    height: 5vh;

}
.encargo .form__imputDos{
    width: 100%;
    height: 30vh;
}
.encargo .label__proyect--submit{
    margin-top: 2vh;
    height: 10vh;
    width: 100%;
    border: 1px solid var(--colorRosa);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#proyect__submit{
    display: none;
}
/* footer */
.footer{
    padding-inline: 10vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .footer__right,
.footer .footer__left{
    display: flex;
    align-items: center;
    gap: 2vw;
}
