/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: var(--colorRosa);
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }
  /* Shutter Out Vertical One*/
.hvr-shutter-out-vertical-one {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background-color: var(--colorBlanco);
    color: var(--colorRosa);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-shutter-out-vertical-one:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:var(--colorRosa);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 4px;
  }
  .hvr-shutter-out-vertical-one:hover, .hvr-shutter-out-vertical-one:focus, .hvr-shutter-out-vertical-one:active {
    color: var(--colorBlanco);
  }
  .hvr-shutter-out-vertical-one:hover:before, .hvr-shutter-out-vertical-one:focus:before, .hvr-shutter-out-vertical-one:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
    /* Shutter Out Vertical Two*/
.hvr-shutter-out-vertical-two{
    color: var(--colorRosa);
    background-color: var(--colorBlanco);
    transition: .3s;
  }
  .hvr-shutter-out-vertical-two:hover{
    color: var(--colorBlanco);
    background-color: var(--colorRosa);
    transition-duration: 0.3s;
  }
  /* Hover Pink */
  .hover-pink{
    color: var(--colorNegro);
    transition-duration: 0.3s;
  }
  .hover-pink:hover{
    color: var(--colorRosa);
    transition-duration: 0.3s;
  }
  @keyframes opacity{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
