/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--colorRosa);
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/* Shutter Out Vertical One*/
.hvr-shutter-out-vertical-one {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background-color: var(--colorBlanco);
  color: var(--colorRosa);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-vertical-one:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:var(--colorRosa);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 4px;
}
.hvr-shutter-out-vertical-one:hover, .hvr-shutter-out-vertical-one:focus, .hvr-shutter-out-vertical-one:active {
  color: var(--colorBlanco);
}
.hvr-shutter-out-vertical-one:hover:before, .hvr-shutter-out-vertical-one:focus:before, .hvr-shutter-out-vertical-one:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/* Shutter Out Vertical Two*/
.hvr-shutter-out-vertical-two {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background-color: var(--colorBlanco);
  color: var(--colorRosa);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-top: .5px solid var(--colorNegro);
  border-radius: 0px 0px 6px 6px;
}
.hvr-shutter-out-vertical-two:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:var(--colorRosa);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 0px 0px 5.5px 5.5px;
}
.hvr-shutter-out-vertical-two:hover, .hvr-shutter-out-vertical-two:focus, .hvr-shutter-out-vertical-two:active {
  color: var(--colorBlanco);
}
.hvr-shutter-out-vertical-two:hover:before, .hvr-shutter-out-vertical-two:focus:before, .hvr-shutter-out-vertical-two:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/* Hover Pink */
.hover-pink{
  color: var(--colorNegro);
  transition-duration: 0.3s;
}
.hover-pink:hover{
  color: var(--colorRosa);
  transition-duration: 0.3s;
}
/* animaciones */
@keyframes fade{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes slideUp{
  from{
    transform: translateY(10vh);
  }
  to{
    transform: translateY(0vh);
  }
}

/* overlay */
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 365vh;
  backdrop-filter: blur(5px);
  display: none;
  -webkit-backdrop-filter: blur(5px);
  z-index: -1;
}
/* animaciones de elementos INDEX */
.encargo h1,
.shop h1,
.beneficios h1,
.hero__container--text h1{
  animation: fade .5s ease, slideUp .5s ease;
}
.shop__card:nth-child(1),
.beneficiosContainer__card:nth-child(1),
.hero__container--botones a:nth-child(1){
  animation: fade 1s ease, slideUp 1s ease;
}
.shop__card:nth-child(2),
.beneficiosContainer__card:nth-child(2),
.hero__container--botones a:nth-child(2){
  animation: fade 1.5s ease, slideUp 1.5s ease;
}
.shop__card:nth-child(3){
  animation: fade 2s ease, slideUp 2s ease;

}
.encargoContainer,
.main .hero .hero__img--div{
  animation: fade 1s ease;
}
/* animaciones Login */
.form{
  animation: fade 1s ease, slideUp 1s ease;
}
  
